In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import synthia as syn
import pyvinecopulib as pv
import matplotlib.pyplot as plt

In [2]:
german_credit = pd.read_csv('data/german_credit.csv')

In [3]:
german_credit

,Creditability,Account.Balance,Duration.of.Credit..month.,Payment.Status.of.Previous.Credit,Purpose,Credit.Amount,Value.Savings.Stocks,Length.of.current.employment,Instalment per cent,Sex...Marital.Status,...,Duration in Current address,Most.valuable.available.asset,Age..years.,Concurrent.Credits,Type.of.apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,24,2,3,1987,1,3,2,3,...,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,...,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,...,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,...,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,...,4,2,31,3,2,1,3,1,1,1

In [4]:
generator = syn.CopulaDataGenerator()
generator.fit(german_credit, copula=syn.GaussianCopula())
N_samples = 1000
synthetic_data = generator.generate(N_samples)

In [5]:
synthetic_data

array([[ 1,  4, 36, ...,  1,  2,  1],
       [ 0,  4, 60, ...,  1,  1,  1],
       [ 1,  4, 12, ...,  1,  2,  1],
       ...,
       [ 1,  4, 21, ...,  1,  2,  1],
       [ 1,  4, 24, ...,  1,  1,  1],
       [ 0,  4,  6, ...,  1,  2,  1]], dtype=int64)

In [6]:
data_frame = pd.DataFrame(synthetic_data.tolist())

data_frame.to_csv("generated_data/synthethic.csv", index=False)